<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <body>
    <div class="relative flex flex-col min-h-screen bg-slate-200">
      <%- include ('../partials/header') %>

      <div class="flex flex-row">
        <div class="lg:w-[220px] lg:p-4">
          <%- include ('../partials/sidebar') %>
        </div>
        <main
          class="relative top-16 p-4 overflow-auto lg:w-[calc(100%-220px)] w-full bg-slate-200">
          <h2 class="text-2xl font-semibold text-gray-800">Categories List</h2>
          <div class="max-w-6xl mx-auto mt-6">
            <!-- Card -->
            <div class="bg-white rounded-xl shadow-md p-6">
              <!-- Table Header -->
              <div
                class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6">
                <div>
                  <h2 class="text-2xl font-semibold text-gray-800">
                    Exporting categories
                  </h2>
                </div>
              </div>

              <!-- Table -->
              <div class="w-full overflow-x-auto lg:overflow-x-visible">
                <table
                  id="categoriesTable"
                  class="min-w-full px-1 text-sm text-left bg-white border border-gray-200 rounded-lg shadow-sm">
                  <thead>
                    <tr class="bg-white text-gray-700">
                      <th class="p-3">No</th>
                      <th class="p-3 border border-gray-200">Categories</th>

                      <th class="p-3">Option</th>
                    </tr>
                  </thead>
                  <tbody class="text-gray-700 divide-y divide-gray-100">
                    <% Category.forEach((category, index) => { %>
                      <tr class="hover:bg-gray-50 even:bg-gray-50 transition">
                        <td class="p-3 border border-gray-200"><%= index + 1 %></td>
                        <td class="p-3 border border-gray-200"><%= category.category_name %></td>
                        <td class="p-3 flex space-x-2 border border-gray-200">
                          <button class="flex items-center bg-yellow-100 text-yellow-700 px-3 py-1 rounded-full text-xs hover:bg-yellow-200">
                            ✏ Edit
                          </button>
                          <a href="/deleteCategory/<%=category._id%>" class="flex items-center bg-red-100 text-red-700 px-3 py-1 rounded-full text-xs hover:bg-red-200">
                            🗑 Delete
                          </a>
                        </td>
                      </tr>
                    <% }) %>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
           <%- include ('../partials/footer') %>
        </main>
      </div>
    </div>
    <script>
      $(document).ready(function () {
    $("#categoriesTable").DataTable({
      responsive: true,
      scrollX: true,
      dom: "Bfrtip",
      buttons: ["copy", "excel", "csv", "pdf", "print"],
      language: {
        searchPlaceholder: "Search categories...",
        search: "",
      },
    });
  });
    </script>
  </body>
</html>
